<h5>
   To call {{locations[1].geo.country.name}} from {{locations[0].geo.country.name}}
</h5>
<pre>
    Dial {{composition[0].number}} {{composition[1].number}} Number
</pre>
<pre>
    The time in {{composition[1].number}} is {{locations[1].time.hour}}:{{locations[1].time.minute}}
</pre>